* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Pink: hsla(301, 23%, 96%, 1);
}

body {
  /* display: flex;
    justify-content: space-between;
    align-items: center; */
  /* top: 127px; */
  /* left: 165px; */
  position: relative;
  /* min-height: 50vh; */

  font-family: "Spartan", sans-serif;
  background: #ffffff;
  padding: 127px 165px 100px;
}

.wraper {
  display: flex;
}

.top-wraper {
  display: flex;
  /* justify-content: space-between; */
  position: relative;
}

.top-wraper .title {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 445px;
  height: 235px;
  /* margin-right: 125px; */
}

.top-wraper .title h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.71429px;

  color: #512051;
  margin-bottom: 6px;
}

.top-wraper .title p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.5px;

  color: #927b91;
}

.top-wraper .rate {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 540px;
  height: 200px;
  margin-left: 125px;
}

.review {
  position: relative;
  left: 125px;
  margin-bottom: 16px;
  /* top: ; */
}

.rate .review img {
  background-repeat: repeat;
}

.rebort {
  position: relative;
  left: 173px;
  margin-bottom: 16px;
}

.besttech {
  position: relative;

  left: 220px;
}

.inspect {
  display: flex;
  align-items: center;
  width: 445px;
  height: 56px;

  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */

  color: #512051;
  /* color: var(--Very-Dark-Magenta); */
  background-color: var(--Pink);
  border-radius: 8px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
