* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Pink: hsla(301, 23%, 96%, 1);
}

body {
  /* display: flex;
    justify-content: space-between;
    align-items: center; */
  /* top: 127px; */
  /* left: 165px; */
  position: relative;
  /* min-height: 50vh; */

  font-family: "Spartan", sans-serif;
  background: #ffffff;
  padding: 127px 165px 100px;
  /* background-image: url(../images/bg-pattern-top-desktop.svg);
  background-repeat: no-repeat; */
}

body::before {
}

.wraper {
  display: flex;
  margin-left: 165px;
  position: absolute;
}

.top-wraper {
  display: flex;
  /* justify-content: space-between; */
  position: relative;
}

.top-wraper .title {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 445px;
  height: 235px;
  /* margin-right: 125px; */
}

.top-wraper .title h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.71429px;

  color: #512051;
  margin-bottom: 6px;
}

.top-wraper .title p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.5px;

  color: #927b91;
}

.top-wraper .rate {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 540px;
  height: 200px;
  margin-left: 125px;
}

.review {
  position: relative;
  left: 125px;
  margin-bottom: 16px;
  /* top: ; */
}

.review p,
.rebort p,
.besttech p {
  padding-left: 23.55px;
}

.rate .review img,
.rebort img,
.besttech img {
  /* background-repeat: repeat; */
  padding-right: 8.45px;
}

.rebort {
  position: relative;
  left: 173px;
  margin-bottom: 16px;
}

.besttech {
  position: relative;

  left: 220px;
}

.inspect {
  display: flex;
  align-items: center;
  width: 445px;
  height: 56px;
  padding-left: 32px;
  /* padding-right: 81.55px; */

  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */

  color: #512051;
  /* color: var(--Very-Dark-Magenta); */
  background-color: var(--Pink);
  border-radius: 8px;
}

.bottom-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buyers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* position: absolute; */
}

.buyer1 {
  background: var(--Very-Dark-Magenta);
  color: #ffffff;
  width: 350px;
  height: 234px;
  border-radius: 8px;
  position: absolute;
  top: 434px;

}

.buyer2 {
  background: var(--Very-Dark-Magenta);
  color: #ffffff;
  width: 350px;
  height: 234px;
  border-radius: 8px;
  position: absolute;
  top: 450px;
  margin-left: 545px;
}

.buyer3 {
  background: var(--Very-Dark-Magenta);
  color: #ffffff;
  width: 350px;
  height: 234px;
  border-radius: 8px;
  position: absolute;
  top: 466px;
  margin-left: 925px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
